<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <title th:text="#{email.reset.title}">JHipster password reset</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <tr>
        <td height="15"></td>
    </tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <tr>
        <td bgcolor="#14162b" style="background-color:#14162b;text-align:center">
            <img th:src="@{|${baseUrl}/assets/images/logo.gif|}" alt="Hipok" style="color:#ffffff;max-width:100%;display:block;margin:0;padding:0;" />
        </td>
    </tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <!-- CONTENT // -->
    <tr>
        <td bgcolor="#f9f9f9" width="100%" style="font-family:Arial,sans-serif;border:1px solid #14162b;background:#f9f9f9;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td height="15"></td>
                    <td height="15"></td>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td width="15"></td>
                    <td>
                        <span th:text="#{email.greeting}" style="font-family:Arial,sans-serif;color:#14162b;">Bonjour</span> <span th:text="#{email.tnp(${extendedUser.titleRef.abbreviation}, ${extendedUser.user.firstName}, ${extendedUser.user.lastName})}" style="font-style:italic;font-weight:bold;font-family:Arial,sans-serif;color:#14162b;">TPN</span><span>,</span>
                        <p th:text="#{email.reset.text1}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Nous avons reçu une demande de r&eacute;initialisation de votre mot de passe Hipok.
                        </p>
                        <p th:text="#{email.reset.text2}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Vous trouverez ci-dessous un lien qui vous permettra de param&eacute;trer un nouveau mot de passe.
                        </p>

                        <p style="font-family:Arial,sans-serif;color:#14162b;">
                            <a th:href="@{|${baseUrl}/#/reset/finish?key=${extendedUser.user.resetKey}|}" th:text="|${extendedUser.user.login}|" style="font-family:Arial,sans-serif;color:#0084cd;" style="font-family:Arial,sans-serif;color:#14162b;">Lien.com</a>
                        </p>

                        <p th:text="#{email.reset.text4}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Si vous ne changez pas votre mot de passe, l'ancien restera actif.
                        </p>
                        <p style="font-family:Arial,sans-serif;color:#14162b;">
                            <span th:text="#{email.reset.text5}" style="font-family:Arial,sans-serif;color:#14162b;">Si vous n'avez demand&eacute; aucune r&eacute;initialisation de mot de passe, pr&eacute;venez-nous &agrave;</span> <a th:href="#{email.mailto.email}" th:text="#{email.email}" style="color:#0084cd;">welcome@hipok.com</a>.
                        </p>
                        <p th:text="#{email.signature}" style="font-family:Arial,sans-serif;color:#14162b;margin-bottom:0;">
                            L'&eacute;quipe Hipok
                        </p>
                    </td>
                    <td width="15"></td>
                </tr>
                <tr>
                    <td height="15"></td>
                    <td height="15"></td>
                    <td height="15"></td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- //CONTENT // -->
</table>
</body>
</html>
