<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <title th:text="#{email.reported.title}">Mail mot de passe oubli&eacute;</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <tr>
        <td height="15"></td>
    </tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <tr>
        <td bgcolor="#14162b" style="background-color:#14162b;text-align:center">
            <img th:src="@{|${baseUrl}/assets/images/logo.gif|}" alt="Hipok" style="color:#ffffff;max-width:100%;display:block;margin:0;padding:0;" />
        </td>
    </tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
    <!-- CONTENT // -->
    <tr>
        <td bgcolor="#f9f9f9" width="100%" style="font-family:Arial,sans-serif;border:1px solid #14162b;background:#f9f9f9;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td height="15"></td>
                    <td height="15"></td>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td width="15"></td>
                    <td>
                        <span th:text="#{email.greeting}" style="font-family:Arial,sans-serif;color:#14162b;">Bonjour</span> <span th:text="#{email.tnp(${extendedUser.titleRef.abbreviation}, ${extendedUser.user.firstName}, ${extendedUser.user.lastName})}" style="font-style:italic;font-weight:bold;font-family:Arial,sans-serif;color:#14162b;">TPN</span><span>,</span>
                        <p th:text="#{email.reported.text1}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Votre publication sur Hipok a &eacute;t&eacute; signal&eacute;e comme inappropri&eacute;e.
                        </p>
                        <table>
                            <tr>
                                <td>
                                    <img th:src="@{|${publicationImageUrl}|}" alt="" width="120" style="max-width:120px;width:120px"/>
                                </td>
                                <td width="10"></td>
                                <td>
                                    <p th:text="${publicationText}" style="font-family:Arial,sans-serif;color:#14162b;">Texte de la publication</p>
                                </td>
                            </tr>
                        </table>
                        <p th:text="#{email.reported.text2}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Rendez-vous dans la rubrique &laquo; publications &raquo; de votre compte pour la supprimer.
                        </p>
                        <p th:text="#{email.reported.text3}" style="font-family:Arial,sans-serif;color:#14162b;">
                            Nous vous incitons &agrave; aller consulter les conditions g&eacute;n&eacute;rales d'utilisations et la &laquo; FAQ &raquo; qui &eacute;noncent les r&egrave;gles de publication et les responsabilit&eacute;s qu'elles engagent.
                        </p>
                        <p style="font-family:Arial,sans-serif;color:#14162b;">
                            <span th:text="#{email.reported.text4}">Si vous souhaitez de plus amples informations contactez-nous &agrave;</span> <a th:href="#{email.mailto.email}" th:text="#{email.email}" style="color:#0084cd;">welcome@hipok.com</a>.
                        </p>
                        <p th:text="#{email.signature}" style="font-family:Arial,sans-serif;color:#14162b;margin-bottom:0;">
                            L'&eacute;quipe Hipok
                        </p>
                    </td>
                    <td width="15"></td>
                </tr>
                <tr>
                    <td height="15"></td>
                    <td height="15"></td>
                    <td height="15"></td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- //CONTENT // -->
</table>
</body>
</html>

